ion-item:last-child {
  --border-width: 0 0 0 0 !important;
}
.image-div {
  display: flex;
  width: 100%;
  justify-content: center;
}
.image-card {
  width: 50%;
}
.image-card:hover {
  background-color: rgba(255,255,255,0.5);
}
.myToast {
  --background:#1833FF;
}
