<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{
      getParticipant(chat.value.participants).displayName
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="chat-content">
  <div class="no-messages-info">
    <p *ngIf="messages.length === 0">
      {{ "chats.writeFirstMessage" | translate }}
    </p>
  </div>

  <div class="message-list" #messageList>
    <div
      *ngFor="let message of messages; let i = index; let last = last"
      class="message-container"
      [ngStyle]="{
      'justify-content': isSender(message) ? 'end' : 'start',
      'padding-top': i === 0 ? '10px' : '5px',
      'padding-bottom': last ? '20px' : '5px',
    }"
    >
      <div
        class="message"
        [ngClass]="{ sender: isSender(message), receiver: !isSender(message) }"
      >
        <div class="message-content">
          <span> {{ message.text }}</span>
          <span class="timestamp">{{
            getTimeFromTimestamp(message.timestamp)
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="send-message-container">
    <ion-searchbar
      #searchBar
      class="send-message-input"
      search-icon="null"
      animated="true"
      placeholder="Send Message..."
    ></ion-searchbar>
    <ion-icon
      name="paper-plane-outline"
      class="send-message-button"
      slot="end"
      (click)="sendMessage(searchBar.value); searchBar.value = null"
    ></ion-icon>
  </div>
</ion-content>
