.tool-bar {
  display: flex;

  .search-bar {
    padding-top: 15px;
    padding-right: 0px;
  }

  .add-user-icon {
    width: 15%;
    margin: auto;
    font-size: x-large;
  }
}

.chat-item {
  margin-top: 5px;
}
