<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-searchbar
      class="search-bar col-6"

      animated
      placeholder="Search"
      (ionInput)="filterChatsByUsername($event)"
    ></ion-searchbar>
    <ion-icon
      name="person-add-outline"
      class="add-user-icon"
      slot="end"
      (click)="displayAddUserDialog = true"
    ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
  <ion-item *ngIf="filteredChats.length === 0">
    <ion-label> No chats found. Try adding a new user. </ion-label>
  </ion-item>

  <ion-item
    class="chat-item"
    *ngFor="let chat of filteredChats"
    (click)="openChat(chat)"
    button
  >
    <ion-avatar slot="start">
      <img
        alt="profile picture"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-label>{{
      getParticipant(chat.value.participants).displayName
    }}</ion-label>
  </ion-item>
</ion-content>

<app-add-user-dialog
  [(isModalOpen)]="displayAddUserDialog"
></app-add-user-dialog>

